#cloud-config
runcmd:
- apt-get update
- apt-get install -y docker.io docker-compose jq
- useradd -u 1001 dockeruser
- newgrp docker
- groupadd -aG docker dockeruser
- docker-compose -f /run/docker-compose.yml up -d
write_files:
- path: /run/docker-compose.yml
  encoding: b64
  content: $DOCKER_COMPOSE_YML
